## Importing libriaries

In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the data

In [33]:
dataset = pd.read_csv("data.csv")
X = dataset.iloc[:, :-1].values
Y = dataset.iloc[:,:]
Y

0    72000.0
1    48000.0
2    54000.0
3    61000.0
4        NaN
5    58000.0
6    52000.0
7    79000.0
8    83000.0
9    67000.0
Name: Salary, dtype: float64